.about-title {
    font-size: 4em;
}

.video-container {
    height: 400px;
    width: auto;
    background-color: lightgray;
}

.about-capabilities-ul {
    display: flex;
    flex-direction: row;
    padding-inline-start: 0px;
    list-style-type: none;
    flex-wrap: wrap;
}

.about-capabilities-li {
    list-style: none;
    flex: 0 0 33.333333%;
}

.about-person-container {
    display: flex;
    flex-direction: row;
}

.about-person-name-container {
    writing-mode: tb-rl;
    transform: rotate(-180deg);
}

.about-person-name {
    margin: 0;
    font-size: 4em;
}

.about-person-bio {
    margin: 10px 0;
}

.about-person-title {
    text-transform: uppercase;
}

.about-person-insta, .about-person-website {
    font-family: "Untitled Sans", serif;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
}

.about-person-website a, .about-person-insta a {
    text-decoration: none;
}



.about-person-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}

.about-person-right {
    width: 50%;
}


hr {
    margin: 50px 0px;
}


@media(min-width: 1024px) {
    .about-description {
        padding-right: 15em;
    }
}
