.specialties-container {
    display: flex;
    margin-top: 10vh;
}

.specialties-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-auto-flow: row;
    height: 100%
}

.specialties-left {
    width: 50%;
    height: 100%;
}

.specialties-right {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.specialties-left, .specialties-left {
    padding: 3em;
}

.specialty-child, .specialty-child-title {
    white-space: nowrap;
    align-self: end;
}

.specialty-child-title, .specialty-child-about-us {
    grid-column: 1 / span 2;
    font-size: 1.2em;
}

.specialty-child-about-us {
    padding-top: 5em;
    max-width: 5rem;
    justify-self: end;
    grid-template-rows: .5fr;
}

.specialty-item-detail-left, .specialty-item-detail-right {
    font-family: "Untitled Sans", sans-serif;
    font-weight: bold;
    border-bottom: 2px solid rgb(166, 126, 46);
    align-self: end;
}

.specialties-title {
    justify-self: start;
    font-size: 1em;
}

.inner-text {
    transform: translateY(-1em);
}

div sup {
    font-weight: normal;
}

.specialty-item-detail-right {
    padding-right: 1em;
}

.specialties-img {
    position: relative;
}
