.footer-container {
    border-top: 2px solid rgb(166, 126, 46);
    display: flex;
}

.footer-wrapper {
    max-width: 1180px;
    margin: 0px auto;
    display: flex;
    align-items: center;
    height: 10vh;
    justify-content: center;
    width: 100%;
    justify-content: space-between;
    padding: 0 3vw;
}

.footer-navigation {
    display: flex;
    justify-content: center;
}

.footer-logo-wrapper {
}

.footer-social-links {
    display: flex;
}

.footer-symbol {
    width: 1.5vw;
    padding-left: 2vw;
}

.footer-logo {
    width: 15vw;
}

.footer-navigation div a {
    text-decoration: none;
    font-family: "Altero", Tahoma, Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 1vw;
    padding-right: 5vw;
}

@media screen and (min-width: 320px) and (max-width: 720px){
    .footer-navigation div a {
    font-size: 2vw;
    }
}